.main {
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    width: 85%;
    height: 65vh;
    border-radius: 10px;
    position: relative;
    top: 10%;
    margin: auto;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    align-items: center;
}

.bookInfo {
    height: 100%;
    padding: 10px;
}

.row {
    height: 100%;
}


.details {
    border-bottom-style: solid;
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
    text-align: center;
}

.ActionContainer {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

body {
    overflow: hidden;
}

.col-sm-10 {
    max-height: 20rem;
    max-width: 45rem;
    overflow-y: auto;
    overflow-x: hidden;
}
    .col-sm-10:last-of-type {
        overflow-y: revert;
        overflow-x: revert;
    }

.button {
    user-select: none;
    transition-duration: 0.2s;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 32px;
    border: none;
    border-radius: 15px;
    background-color: #005493;
    display: inline-block;
    margin: 15px;
}

    .button:hover {
        background-color: #00aeff;
        color: white;
    }

.classItem {
    transition-duration: 0.2s;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #005493;
    display: inline-block;
    margin: 10px;
    margin-left: 0px;
    position: relative;
    border-bottom: 1px dotted black;
    user-select: none;
}

    .classItem .tooltiptext {
        visibility: hidden;
        width: max-content;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 35%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .classItem .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .classItem:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    .classItem:hover {
        background-color: #00aeff;
        color: white;
    }
