#desc {
    display: block;
    height: 250px;
    overflow: auto;
}

#c1 {
    position: relative;
    margin-top: 10vh;
    width: 50rem;
    height: 60vh;
}

html {
    font-size: inherit;
}

.container {
    max-width: max-content !important;
}

.w3-btn {
    color: #fff !important;
    background-color: #0D6EFF !important;
    border-color: #0d6efd !important;
    margin: 15px;
}

#c2 {
    height: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.row {
    margin-top: 8vh;
    --bs-gutter-x: 0;
    justify-content: center;
}

#input {
    height: auto;
    width: 365px;
}

.col-md-4 {
    position: relative;
    width: 45% !important;
}
    .col-md-4 form {
        display: grid;
        align-content: space-evenly;
        justify-items: center;
    }

form-group a {
    color: red;
}

.LoanSubmit {
    position: relative;
}

.w3-input {
    border-bottom: 0px !important;
}

#submitBtn {
    position: absolute;
    top: 400px;
    right: 350px;
    height: 60px;
    width: 100px;
    background-color: #005493;
    color: white;
}

#text {
    position: relative;
    top: 40px;
    border-bottom: 1px solid #ccc;
}

body {
    font-family: var(--bs-font-sans-serif);
    font-size: inherit;
}
