* {
    --fontGrowth: .8vw;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-left: 6rem;
}

.mainBody {
    margin-top: 5vh;
    color: black;
}

#Welcome {
    margin-left: 40px;
    border-bottom-style: solid;
    font-family: 'Poppins', sans-serif;
    font-size: 3em !important;
    font-weight: bold !important;
    width: 30%;
}

#bodyBackground {
    background-color: #EEEEEF;
    width: 50vw;
    height: 55vh;
    position: relative;
    margin-top: 1vh;
    padding: 1em;
    margin-left: 30px;
    border-radius: 3px;
    box-shadow: 4px 4px 10px darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

@media screen and (max-width: 1500px) {
    #bodyBackground {
        width: 65vw;
    }
}

#header1 {
    position: relative;
    margin-left: 60px;
    font-size: calc(1.5em + var(--fontGrowth))) !important;
    font-weight: bold !important;
}

#header2 {
    position: relative;
    margin-left: 60px;
    font-size: calc(1.5em + var(--fontGrowth))) !important;
    font-weight: bold !important;
}

#header3 {
    position: relative;
    margin-top: 20px;
    margin-left: 60px;
    font-size: calc(1.5em + var(--fontGrowth))) !important;
    font-weight: bold !important;
}

hr {
    display: block;
    margin-top: 2px;
    margin-bottom: 5px;
    border-width: 1px;
    border-radius: 3px;
    margin-left: 60px;
    width: 50%;
}

#description {
    margin-left: 60px;
    margin-top: 10px;
    padding: 15px;
    width: 800px;
    font-weight: bold;
    border-radius: 3px;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    font-size: calc(1rem + .1vw) !important;
}

.button {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 32px;
    border: none;
    border-radius: 20px;
    background-color: #005493;
    display: inline-block;
    transition-duration: 0.2s;
}

    .button:hover {
        background-color: #00aeff; /* Green */
        color: white;
    }

#Click2Start {
    margin-top: 8px;
    margin-left: 80px;
}

#Click4List {
    margin-top: 8px;
    margin-left: 80px;
}

.buttonContainer {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
