@model IEnumerable<BookExchange.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>BookSearch</title>
</head>

<body>
    <div class="page">
        <div class="container">
            <input type="text" id="searchBar" placeholder="Search...">

            <table class="table">
               
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="card hover">
                            <td>
                                @{
                                    var ISBN = item.ISBN;
                                    var imageSource = @"\data\thumbnails\" + ISBN + ".jpg";
                                }
                                <img src=@imageSource width="128" height="200">
                            </td>
                            <td id="bookTitle">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td id="author">
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>
                            <td id="ISBN">
                                @Html.DisplayFor(modelItem => item.ISBN)
                            </td>

                            <td>
                                <a class="button" asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
